extends layout

block content
  h1 Welcome to #{title}
  p Search any tag you want on instagram, or choose from the tags available below the search bar!
  form
    input(type='text', name='search', placeholder='Search on Instagram..')
    
  p
    a(href="/?search=computerscience") #computerscience
  p 
    a(href="/?search=engineering") #engineering
  p 
    a(href="/?search=thetatau") #thetatau
    
  p You searched for #{search}
    
  each tagImg, index in data
    img(src='#{tagImg.images.low_resolution.url}')
      
    
  
    
